// project parameters


params {
	// input and output
	samplesheet 			   = "$projectDir/input/iclip_samplesheet_nocontrol.csv"
	outdir 					   = "$projectDir/results"
    publish_dir_mode           = "copy"

	ribo_databases 			   = "$projectDir/input/rrna-db.txt"
    fasta                      = "https://ftp.ensembl.org/pub/release-110/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz"
    gtf                        = "https://ftp.ensembl.org/pub/release-110/gtf/homo_sapiens/Homo_sapiens.GRCh38.110.gtf.gz"
    star_index                 = "$projectDir/input/genome/index/star"

    // edit read name (remove characters)
    remove_characters          = false          // if true, removes whitespaces and special characters from read IDs
    save_edited_reads          = false          // if true, saves files with edited read IDs

	// fastqc
    skip_fastqc       		   = false          // if true, skips fastqc before/after trimming
    skip_fastqc_after_ribo_removal = true       // if true, skips fastqc after rRNA filtering
    skip_fastqc_after_dedup    = false          // if true, skips fastqc after deduplication
    analyse_unmapped           = false          // if true, performs fastqc on unmapped sequences from STAR

    // UMI handling
    with_umi				   = true           // if true, performs deduplication with UMIs
    skip_umi_extract           = true           // if true, skips UMI extract; if false, please provide bc_pattern
    umitools_extract_method    = 'string'
    umitools_grouping_method   = 'directional'
    umitools_dedup_stats       = false          // if true, provides extra files with deduplication statistics
    umitools_bc_pattern        = 'NNNNXXXXXNNN'
    umitools_bc_pattern2       = null
    umitools_umi_separator     = 'rbc:'
    umi_discard_read           = null	        // integer: 0, 1 or 2
    save_umi_intermeds         = false          // if true, saves extra files from umitools

    // trimming
    skip_trimming              = false          // if true, skips trimming by cutadapt (trimgalore!)
    min_trimmed_reads          = 10000	        // integer: > 0
    extra_trimgalore_args      = null
    save_trimmed               = false          // if true, saves trimmed read files

	// ribosomal rna removal (sortmerna)
	remove_ribo_rna 		   = false          // if true, performs rRNA filtering by SortMeRNA
    save_non_ribo_reads        = false          // if true, saves reads kept after rRNA filtering by SortMeRNA
    skip_ribodetector          = true           // if true, skips rRNA filtering by ribodetector <-- CURRENTLY NOT USED

    // genome prep and alignment
    skip_prepare_genome        = false          // if true, skips genome indexing, etc (if true, does not work currently)
    save_reference             = false          // if true, saves reference genome
    skip_alignment             = false          // if true, skips alignment/mapping by STAR
    extra_star_align_args      = null
    bam_csi_index              = false
    star_ignore_sjdbgtf        = false
    seq_center                 = null
    save_unaligned             = false          // if true, saves unaligned/unmapped sequences
    save_align_intermeds       = false          // if true, saves intermediate alignment files

    // extract crosslinks
    save_extract_crosslink_intermeds = false    // if true, saves extra files from crosslink extraction
    skip_extract_crosslinks    = false          // if true, skips crosslink extraction
    skip_bedgraphtobigwig      = true           // if true, skips conversion to .bw files

    // peak calling
    skip_pureclip              = false          // if true, skips peak calling by pureclip
    skip_macs2                 = true           // if true, skips peak calling by macs2

    // downstream analysis
    resized_for_annotation     = true           // if true, uses resized PureCLIP binding sites for gene annotation
    save_intermediate_peak_id  = true           // if true, saves intermediate files where column 4 is replaced by a unique peak ID
    skip_homer_annotation      = false          // if true, skips gene annotation by HOMER
    skip_bedtools_annotation   = false          // if true, skips gene annotation by bedtools intersect
    save_binding_width_intermeds  = false       // if true, saves .bed and .fa files with resized peaks from pureclip
    skip_motif_detection       = false          // if true, skips motif detection by STREME
    save_streme_log            = false          // if true, saves additional STREME files

	// multiqc
	skip_multiqc 		= false                 // if true, skips multiqc from summarizing results
	multiqc_config		= null
	multiqc_logo		= null

}
