// project parameters


// TODO: add logic (e.g. if skip_alignment then skip_bedgraphtobigwig and skip_extract_crosslinks)

params {
	// input and output
	samplesheet 			   = "$projectDir/input/iclip_samplesheet_nocontrol.csv" // "$projectDir/input/iclip_samplesheet_wtcontrol.csv"
	outdir 					   = "$projectDir/results"
    publish_dir_mode           = "copy"

	ribo_databases 			   = "$projectDir/input/rrna-db.txt"
    fasta                      = "https://ftp.ensembl.org/pub/release-110/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna_sm.primary_assembly.fa.gz"
    gtf                        = "https://ftp.ensembl.org/pub/release-110/gtf/homo_sapiens/Homo_sapiens.GRCh38.110.gtf.gz"
    star_index                 = "$projectDir/input/genome/index/star"

    // edit read name (remove characters)
    remove_characters          = false
    save_edited_reads          = false

	// fastqc
    skip_fastqc       		   = false
    skip_fastqc_after_ribo_removal = true
    skip_fastqc_after_dedup    = true
    analyse_unmapped           = false

    // UMI handling
    with_umi				   = true           // dedup with UMI?
    skip_umi_extract           = true           // don't want to remove UMIs/barcodes from sequences? if false, provide bc_pattern
    umitools_extract_method    = 'string'
    umitools_grouping_method   = 'directional'
    umitools_dedup_stats       = true
    umitools_bc_pattern        = 'NNNNXXXXXNNN'
    umitools_bc_pattern2       = null
    umitools_umi_separator     = 'rbc:'
    umi_discard_read           = null	// integer: 0, 1 or 2
    save_umi_intermeds         = false

    // trimming
    skip_trimming              = false
    min_trimmed_reads          = 10000	// integer: > 0
    extra_trimgalore_args      = null
    save_trimmed               = false

	// ribosomal rna removal (sortmerna)
	remove_ribo_rna 		   = true 
    save_non_ribo_reads        = false
    skip_ribodetector          = true

    // genome prep and alignment
    skip_prepare_genome        = false
    save_reference             = true
    skip_alignment             = false
    extra_star_align_args      = null
    bam_csi_index              = false
    star_ignore_sjdbgtf        = false
    seq_center                 = null
    save_unaligned             = false
    save_align_intermeds       = false

    // extract crosslinks
    save_extract_crosslink_intermeds = false
    skip_extract_crosslinks    = false
    skip_bedgraphtobigwig      = false

    // peak calling
    skip_pureclip              = false
    skip_macs2                 = false

    // downstream analysis
    resized_for_annotation     = true       // if true, uses resized PureCLIP binding sites for gene annotation
    save_intermediate_peak_id = true       // if true, saves intermediate files where column 4 is replaced by a unique peak ID
    skip_homer_annotation      = false
    skip_bedtools_annotation   = false
    save_binding_width_intermeds  = false   // if true, saves .bed and .fa files with resized peaks from pureclip
    save_streme_log            = false      // if true, saves additional STREME files

	// multiqc
	skip_multiqc 		= false
	multiqc_config		= null
	multiqc_logo		= null

}
